distlib==0.3.4
filelock==3.4.1
importlib-metadata==4.8.3
importlib-resources==5.4.0
packaging==21.3
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
six==1.16.0
toml==0.10.2
tox==3.24.5
typing_extensions==4.0.1
virtualenv==20.13.0
zipp==3.6.0
